name: Mirror Workflow
on:
  push:
    branches: [ "main", "dev" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  push_to_mirror:
    if: ${{ github.actor != 'github-actions[bot]' && startsWith(github.repository, 'HexaTeam-By-Epitech')}}
    runs-on: [ self-hosted, gcp-spot ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Clean git state
        run: |
          git remote remove mirror || true
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: ${{ vars.MIRROR_URL }}
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
